version: '3.8'

services:
  product-service:
    build: ./product-service
    ports:
      - "8080:8080"
    networks:
      - microservices-network
  
  order-service:
    build: ./order-service
    ports:
      - "8081:8081"
    depends_on:
      - product-service
    networks:
      - microservices-network
    environment:
      - PRODUCT_SERVICE_URL=http://product-service:8080

networks:
  microservices-network:
    driver: bridge
