services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    ports:
      - "8888:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./realm.json:/opt/keycloak/data/import/realm.json
  postgres:
    image: postgres:14.1
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: expenses
      POSTGRES_USER: developer
      POSTGRES_PASSWORD: developer
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
